.banner {
  height: 100px;
  width:100%;
  background-color: #800000;
  text-align: center;
  font-size: 25px;
}
 
.topnav {
  background-color: #CD5C5C;
  overflow: hidden;
  height: 90px;
}

.topnav a {
  float: left;
  color: #454545;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 22px;
 }
 
 .topnav a:hover {
   background-color: #ddd;
   color: grey;
 }
 
 .topnav a.split {
  float: right;
  background-color: #000;
  color: black;
 }
 
.topnav a.active{
  background-color: black;
  text-align: center;
  font-size: 30px;
}
   
body {
  background-color: grey;
}

input[type=text], select, textarea {
  width: 99%;
  height: 50%;
  padding: 12px;  
  border: 1px solid lightcoral;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: horizontal;
}

input[type=submit] {
  background-color: gray;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: blanchedalmond;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  text-align: center;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  text-align: center;
}

/* Instagram */
.fa-instagram {
  background-color: white;
  color: #454545;
  text-align: center;
}

/* Linkedin */
.fa-linkedin {
  background-color: lightblue;
  color: #454545;
  text-align: center;
}

.eight {
  background-color: lightpink;
  color: black;
  width: 258px;
}

footer {
  background-color: #454545;
  width: 100%;
  height: 100px;
  text-align: center;
}

